:root {
  --bg-primary: #7785AC;
  --bg-secondary: #9AC6C5;
  --text-primary: #fff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #7785AC;
  background-image: linear-gradient(160deg, #7785AC 0%, #9AC6C5 100%);
}

header {
  background-color: #7785AC;
  color: #fff;
  text-align: center;
  padding: .75rem;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: linear-gradient(10deg, #7785AC 0%, #9AC6C5 25%);
  z-index: 100;
  cursor: pointer;
  padding: .75rem;
}

h1 {
  font-size: 2rem;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

p {
  font-size: 1.1rem;
}

.navbar {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2rem;
  width: 4rem;
  overflow: hidden;
  transition: 0.5s;
  border-radius: .25rem;
}

.navbar:hover {
  width: 4rem;
  height: 10rem;
}

.navbar:hover .nav-item {
  opacity: 1;
  transition: .15s;
}

.nav-item {
  list-style: none;
  padding: 0px;
  opacity: 1;
  transition: 0.3s;
  font-size: 0%;
}

.nav-item a {
  right: 0;
  width: 4rem;
  height: 2rem;
  border-radius: 2.5px;
}

.default-flag {
  opacity: 1;
}

a.german-flag {
  background-image: url('./assets/IMG_2339.svg');
  background-size: cover;
  cursor: pointer;
  position: absolute;
  bottom: 5%;
}

a.english-flag {
  background-image: url('./assets/IMG_2338.svg');
  background-size: cover;
  cursor: pointer;
  position: absolute;
  bottom: 30%;
}

a.french-flag {
  background-image: url('./assets/IMG_2340.svg');
  background-size: cover;
  cursor: pointer;
  position: absolute;
  bottom: 55%;
}

a.italian-flag {
  background-image: url('./assets/IMG_2341.svg');
  background-size: cover;
  cursor: pointer;
  position: absolute;
  bottom: 80%;
}
