:root {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    overflow: scroll;
}

header {
    /*Header: when scrolling should disappear rather quickly*/

    /*update to sky gradient*/
    background: rgb(99, 164, 232);
    background: -moz-linear-gradient(180deg, rgba(99, 164, 232, 1) 0%, rgba(220, 207, 201, 1) 97%, rgba(209, 203, 207, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(99, 164, 232, 1) 0%, rgba(220, 207, 201, 1) 97%, rgba(209, 203, 207, 1) 100%);
    background: linear-gradient(180deg, rgba(99, 164, 232, 1) 0%, rgba(220, 207, 201, 1) 97%, rgba(209, 203, 207, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#63a4e8", endColorstr="#d1cbcf", GradientType=1);

    /*Styles for the header*/
    z-index: 1;
    position: absolute;
    height: 50vh;
    width: 100%;
}

a#page-title {
    /*THE TITLE*/

    /*Title stays in its position, changes color when waves go over it, dissapears when underwater (maybe fade out on scroll?)*/
    position: fixed;
    z-index: 2;
    font-size: 30vh;
    text-align: center;
    width: 100%;
}

.waves {
    /*Waves: Parallax effect*/

    /*Styles for waves*/
    position: absolute;
    top: 50vh;
    height: 50vh;
    width: 100vh;
}

.container {
    /*The container for the body of the Website*/

    /*update to underwater background*/
    background: rgb(144, 224, 239);
    background: -moz-linear-gradient(180deg, rgba(144, 224, 239, 1) 5%, rgba(72, 202, 228, 1) 10%, rgba(0, 180, 216, 1) 15%, rgba(0, 150, 199, 1) 23%, rgba(0, 119, 182, 1) 51%, rgba(2, 62, 138, 1) 76%, rgba(3, 4, 94, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(144, 224, 239, 1) 15%, rgba(72, 202, 228, 1) 20%, rgba(0, 180, 216, 1) 25%, rgba(0, 150, 199, 1) 33%, rgba(0, 119, 182, 1) 51%, rgba(2, 62, 138, 1) 76%, rgba(3, 4, 94, 1) 100%);
    background: linear-gradient(180deg, rgba(144, 224, 239, 1) 15%, rgba(72, 202, 228, 1) 20%, rgba(0, 180, 216, 1) 25%, rgba(0, 150, 199, 1) 33%, rgba(0, 119, 182, 1) 51%, rgba(2, 62, 138, 1) 76%, rgba(3, 4, 94, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#90e0ef", endColorstr="#03045e", GradientType=1);

    /*Styles for container*/
    z-index: 3;
    position: absolute;
    top: 100vh;
    height: 500vh;
    width: 100%;
}

.infos {
    /*DIV containers with information*/

    height: 20%;
    width: 60%;
    left: 5%;
    font-size: 2vh;
}
