body.main {
    background-color: var(--background);
    color: var(--text);
}

header.top {
    position: sticky;
    top: 0;
    width: 100%;
    height: 10%;
}

.welcome-message.fancytext {
    color: linear-gradient(to right, var(--primary), var(--accent));
}

.fa-house-chimney {
    left: 0;
    color: var(--primary);
}

.fa-house-chimney:hover {
    color: var(--accent);
}

.right-side-stuff {
    right: 0;
    align-items: center;
}

.h12.m16 {
    size: auto;
}
