:root {
    --ltext: #08121c;
    --lbackground: #eff5fa;
    --lprimary: #3D3DE1;
    --lsecondary: #d0e0f1;
    --laccent: #377abe;

    --dtext: #e3edf7;
    --dbackground: #050b10;
    --dprimary: #1e1ec2;
    --dsecondary: #0e1e2f;
    --daccent: #4185c8;
}

.light {
    --text: var(--ltext);
    --background: var(--lbackground);
    --primary: var(--lprimary);
    --secondary: var(--lsecondary);
    --accent: var(--laccent);
}

.dark {
    --text: var(--dtext);
    --background: var(--dbackground);
    --primary: var(--dprimary);
    --secondary: var(--dsecondary);
    --accent: var(--daccent);
}

:root {
    font-family: 'Poppins', sans-serif;
}


body.main {
    background-color: var(--background);
    color: var(--text);
}

header.top {
    position: sticky;
    top: 0;
    width: 100%;
    height: 10%;
}

.welcome-message.fancytext {
    color: linear-gradient(to right, var(--primary), var(--accent));
}

.fa-house-chimney {
    left: 0;
    color: var(--primary);
}

.fa-house-chimney:hover {
    color: var(--accent);
}

.right-side-stuff {
    right: 0;
    align-items: center;
}

.h12.m16 {
    size: auto;
}